@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #fffaf9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #fffaf9;
}

::-webkit-scrollbar-thumb {
    background: #f5d5d8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B76E79;
}
